<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>PhotoShare</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>REPLACE_WITH_REVERSED_CLIENT_ID</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>PhotoShare Auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>photoshare</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSContactsUsageDescription</key>
	<string>Find which of your contacts are already on PhotoShare.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Attach your location to photos you share.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Save photos shared with you to your camera roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>PhotoShare reads your photo library to detect friends' faces and auto-share photos with them.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
